.about {
  .hentry {
    margin-top: 35px;
    p:first-child {
      margin: 0;
    }
    @media screen and (max-width: $bp-tablet + 1){
      width:95%;
    }// @media max-width: $bp-tablet + 1
    @media screen and (max-width:600px) {
      .alignleft {
        float:none;
        display:block;
        width:100%;
        margin: 0 auto;}
    }
    @media screen and (min-width: 601px){
      p:nth-child(2) {
        margin-top: 0;
      }
    }
  }// .entry-content
  .about-pic {
    display: block;

  }
}
