.contact {
  .hentry {
    margin-top:35px;
    @include respond-to(phone){
      width: 95%;
      margin: 0 auto;
    }
    p:nth-child(2){margin-right: 10px !important;}
    p:nth-child(2), p:nth-child(3){
      display: inline-block;
      width:48%;
      @media screen and (max-width: $bp-tablet + 1){
        display: block;
        width:100%;
      }
    }
    .your-name,.your-email {width: 100%;}
    @media screen and (max-width: $bp-tablet + 1){
      p:nth-child(4),p:nth-child(5){margin: 0 !important;}
    }
    p:last-child {display: none;}
  }// .hentry
  .how-help {
    .wpcf7-list-item {
      margin: 0 15px;
      @media screen and (max-width: $bp-tablet + 1){
        display: block;
        margin: 15px 0;
      }
    }
  }
  input[type='submit']{
    box-shadow: none;
    text-shadow: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    color:white;
    background: $red;
    @include respond-to(phone){
      width:100%;
      padding:20px;
    }
    @include respond-to(tablet){
      width:80%;
      margin-left: 10%;
      padding:20px;
    }
  }
}// .contact
