.front {
  @media screen and (max-width: $bp-tablet){
    padding: 10px;
  }
}
.serial-wrap {
  @media screen and(min-width: $bp-tablet+1) {
    display: flex;
  }
  .fp-serial-player {
    min-width:320px !important;
    flex-shrink: 1;
    display: inline-block;
    @media screen and(max-width: $bp-tablet){
      display: block;
      width: 75%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  .entry-content {
    display: inline-block;
    vertical-align: top;
    @media screen and (min-width: $bp-tablet){
      margin-left: 15px;
    }

    p:first-of-type {margin-top:0;}
    p {display: inline-block;}
  }
}
#welcome {
  padding-top:125px;
  padding-bottom: 125px;
  background: $gray8;
  z-index:1;
  position: relative;
  .intro-wrap {
    .intro-blurb {
      width: 60%;
      margin: 0 auto;
      padding:30px 50px;
      font-size: 18px;
      p{
        span {
          font-weight: 300 !important;
        }
      }

      @include respond-to(phone){
        width:100%;
        padding:10px;

      }
      @include respond-to(tablet){
        width:80%;
      }
      @include respond-to(laptop){
        width:75%;
      }
    }
  }// .intro-wrap
  .work-wrap {
    width: 100%;
    padding-top:40px;
    .work-title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 20px;
      color:$gray4;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
    }
  }// .menu-front-page-container
}// #welcome
body.paged {
  main.front-page article:first-of-type {
  width:80% !important;
  @media screen and (max-width: $bp-tablet + 1){width:90% !important; }
}}
main.front-page article:first-of-type {
  width: 90% !important;
  margin-bottom: 40px;
  @include respond-to(phone){margin-bottom:20px;}
  .entry-title {
    font-size: 28px;
    margin-bottom:10px;
  }
  p:first-child {margin-top: 0;}
  } // main.front-page article:first-of-type
.shifty {margin-bottom:10px !important;}
main.front-page article {
  .soundcloud-embed {
  float:left;
  width:40%;
  display: inline-block;
  height: 230px;
  @media screen and (max-width: $bp-tablet + 1){
    display: block;
    width:100%;
    margin-bottom:10px;
  }
}
  iframe {
    display: inline-block;
    text-align: center;
    height:100%;
    @include respond-to(phone){
      max-width: 95%;
    }
  }
  @include respond-to(phone){font-size: 14px;}
  .entry-title {
    font-size: 22px;
  }
  width: 80%;
  @media screen and (max-width: $bp-tablet + 1){
    width: 90%;
  }
}
.fp-title {
  color: $gray4;
  margin: 30px auto;
  border-bottom: 1px solid $gray6;

}
.continue-reading {
  text-align: right;
  a {
    color: $gray3;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color:$gray3;
    }
    &:visited {color:$gray3;}
    &:after {
      font-family: 'FontAwesome';
      content: '\f105';
      margin-left: 10px;
    }
  }
}
