@import "front_page";
@import "music-for-film";
@import "music-for-commercials";
@import "music-for-listening";
@import "sound-design";
@import 'radio-production';
@import 'contact';
@import 'about';

.roles {
font-weight: 400;
color: black;
margin: 7px;
li.nobullet:after {content:none !important;}
li.nobullet {margin-right:15px;}
}
