body,
button,
input,
select,
textarea {
	font-family: 'futura-pt', sans-serif;
	font-weight: 300;
	color: $color__text-main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
