// Custom Palette
$black: #000000;
$white: #ffffff;
$red: rgba(208, 1, 27, 1);
$aqua: rgba(90, 199, 211, 1);
$blue: rgba(73, 144, 226, 1);
$gray1: #444444;
$gray2: #666666;
$gray3: #999999;
$gray4: #bbbbbb;
$gray5: #cccccc;
$gray6: #dddddd;
$gray7: #eeeeee;
$gray8: #f6f6f6;

$color__background-body: $gray6;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
